<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>

		<link
			href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<title>First Come First Serve - Buying Properties on Mars</title>

		<style>
			* {
				font-family: "Gowun Batang", serif;
				color: white;
			}

			body {
				background-image: linear-gradient(
						0deg,
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0.5)
					),
					url("https://cdn.aitimes.com/news/photo/202010/132592_129694_3139.jpg");
				background-position: center;
				background-size: cover;
			}

			h1 {
				font-weight: bold;
			}

			.order {
				width: 500px;
				margin: 60px auto 0px auto;
				padding-bottom: 60px;
			}

			.mybtn {
				width: 100%;
			}

			.order > table {
				margin: 40px 0;
				font-size: 18px;
			}

			option {
				color: black;
			}
		</style>
		<script>
			$(document).ready(function () {
				show_order();
			});
			function show_order() {
				fetch("/mars")
					.then((res) => res.json())
					.then((data) => {
						console.log(data);
						alert(data["msg"]);
					});
			}
			function save_order() {
				let name = $("#name").val();
				let address = $("#address").val();
				let size = $("#size").val();

				let formData = new FormData();
				formData.append("name_give", name);
				formData.append("address_give", address);
				formData.append("size_give", size);

				fetch("/mars", { method: "POST", body: formData })
					.then((res) => res.json())
					.then((data) => {
						alert(data["msg"]);
						window.location.reload();
					});

				// fetch("/mars").then(res => res.json()).then(data => {
				//     $("#order-box").empty();
				//     name
				//     address
				//     size
				//     temp_html = `<tr>
				//                     <td>${name}</td>
				//                     <td>${address}</td>
				//                     <td>${size}</td>
				//                 </tr>`
				//     $("#order-box").append(temp_html);
				// })
			}
		</script>
	</head>

	<body>
		<div class="mask"></div>
		<div class="order">
			<h1>Buying Properties on Mars!</h1>
			<h3>Price: $5 per unit</h3>
			<p>
				You can buy your properties on Mars in advance?<br />
				This is the last chance to achieve!
			</p>
			<div class="order-info">
				<div class="input-group mb-3">
					<span class="input-group-text">Name</span>
					<input id="name" type="text" class="form-control" />
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Address</span>
					<input id="address" type="text" class="form-control" />
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="size">Size</label>
					<select class="form-select" id="size">
						<option selected>-- Size Order --</option>
						<option value="10unit">10 unit</option>
						<option value="20unit">20 unit</option>
						<option value="30unit">30 unit</option>
						<option value="40unit">40 unit</option>
						<option value="50unit">50 unit</option>
					</select>
				</div>
				<button
					onclick="save_order()"
					type="button"
					class="btn btn-warning mybtn"
				>
					Order
				</button>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Address</th>
						<th scope="col">Ordered Size</th>
					</tr>
				</thead>
				<tbody id="order-box">
					<tr>
						<td>Timothee Chalamet</td>
						<td>Miami, FL, USA</td>
						<td>20 unit</td>
					</tr>
					<tr>
						<td>Leonardo Davinch</td>
						<td>Los Angeles, CA, USA</td>
						<td>10 unit</td>
					</tr>
					<tr>
						<td>Jennie Kim</td>
						<td>Seoul, South Korea</td>
						<td>30 unit</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
